# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Uploaded videos
uploads/*
!uploads/.gitkeep

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Python build files
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db